body{
    height: 100%;
    width: 100%;
    background-color: white;
    
}
nav{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 10%;
    left: 0%;
    top: 0%;
}
#container{
    position: absolute;
    top: 10%;
    left: 10%;
    width:80%;
    height: 90%;
    background-color: lightgrey;
    z-index: -1;
}
#titleDiv {
    position: absolute;
    left: 40%;
    right: 40%;
    width: 20%;
    top: 0%;
    text-align: center;
    background: turquoise;
}
#buttons-view{
    position: absolute;
    top: 80%;
    width: 80%;
    left: 10%;
    right: 10%;
}
#movieFormTitle {
    position: absolute;
    top: 20%;
    left: 40%;
}
#movie-input {
    position: absolute;
    top: 25%;
    left: 40%;
}
#add-movie {
    position: absolute;
    top: 25%;
    left: 54%;

}
#gifContainer {
    position: absolute;
    top: 30%;
    width: 20%;
    height: 40%;
    left: 40%;
    right: 40%;
    overflow: hidden;
}
footer{
    position: fixed;
    bottom: 0%;
    height: 5%;
    width: 125.03%;
    left: -12.5%;
    background-color: black;
    color: lime;
    text-align: center;
    z-index: -2;
}

/* Font Size */
#moviesearch{
    font-size: 100%;
    font-size-adjust: inherit;
}

/* Button */
.movie-btn{
    width: 10%;
    height: 20%;
    border-radius: 1rem;
    margin: 4px
}